body{
    background-color: rgb(93, 176, 176);
    font-size: 12pt;
    font-family: Arial;
    margin: 10pt;
}
.class2 A:link {text-decoration: underline}
.class2 A:visited {text-decoration: underline overline}
.class2 A:active {font-size: 50px; font-weight:bold; color: red;}
.class2 A:hover {font-size: 30px; text-decoration: underline; color: green;}

.parent {
    border: 5px outset rgb(0, 106, 255);
    background-color: rgb(59, 83, 91);    
}
.child {
    display: inline-block;
    border: 5px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
}
.image{
    height: 20%;
    width: 20%;
}
.big-image {
    height:80%;
    width: 80%; 
}

header{
    margin: 0px;
}

.navbar ul{
    list-style-type: none;
    background-color: #1e97e2;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color:#f1f1f1;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: black;
}

.navbar li{
    float: left;
}

nav.navbar ul li ul.dropdown li{
    display: block;
}
nav.navbar ul li ul.dropdown{
    width: 100%;
    background:rgb(201, 0, 23);
    position: absolute;
    z-index: 999;
    display: none;
}

nav.navbar ul li a:hover{
    background: #1e97e2;
}
nav.navbar ul li:hover ul.dropdown{
    display: block;
}

p{
    font-size: 10px;
    margin: 0px;
}
header{
    background-color: black;
    color: rgb(255, 0, 17);
    font-size: 30px;
    font-family: Impact;
    font-style: italic;
}

h1{
    background-color: black;
    color: rgb(255, 0, 17);
    font-size: 30px;
    font-family: Impact;
    font-style: italic;
}

h2{
    color: rgb(196, 46, 56);
    font-size: 20px;
    font-family: 'Lucida Sans';
    margin: 20px;
}

h4{
    color: rgb(88, 23, 226);
    font-size: 16px;
    font-family: Arial;
    margin-left: 50px;
}
li{
    color: rgb(67, 59, 60);
    font-size: 15px;
    margin-left: 70px;
}
blockquote{
    color: rgb(32, 35, 78);
    font-size: 10px;
    margin-left: 90px;
}
dt{
    color: rgb(67, 59, 60);
    font-size: 15px;
    font-family: Arial;
    margin-left: 70px;
}
dd{
    color: rgb(32, 35, 78);
    font-size: 10px;
    font-family: Arial;
    margin-left: 90px;
}

